/* noto-sans-regular - latin */
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/noto-sans-v25-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/noto-sans-v25-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* noto-sans-700 - latin */
  @font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/noto-sans-v25-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/noto-sans-v25-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
* {
    margin: 0; padding: 0;
}

.buttons-bar {position: relative;
    display: flex;
    height: 100vh;
    background: url(../img/UI.png) center center no-repeat;
    background-size: contain;
    align-items: center;
    justify-content: space-between;
}
/*info*/
body {font-family: 'Noto Sans';height: 100vh;
 background: #6a3505}

.info-img {
    width: 0.7vw;
}
.info {
    background: url(../img/info-normal.png) center center no-repeat;
    background-size: contain;
    width: 5vw;
    height: 8vh;
    border: none;transition: .4s;
    cursor: pointer;
    margin-left: 4.5vw;
}
.info:hover {
    background: url(../img/info-hover.png) center center no-repeat;
    background-size: contain;
}
.info:focus, .info:active {
    background: url(../img/info-click.png) center center no-repeat;
    background-size: contain;
}
.info:disabled {
    background: url(../img/info-disable.png) center center no-repeat;
    background-size: contain;
}

/*less-more*/
.total{
 
    display: flex;
    justify-content: space-between;
    margin-top: 0.3vh;
    transform: rotate(0.5deg);
    width: 16vw;
    height: 8.6vh;
    background: url(../img/bg_totalbet.png) center no-repeat;
    background-size: contain;
}
.totalbet {
    align-self: center;
}
.ml {
    width: 2vw;
}
.num {
    font-size: 2rem;
    line-height: 1;
text-align: center;
  font-weight: 700;
 color: #ffd100;
}
.totaltxt {
    color: #ff6972;
    font-size: 1rem;
    line-height: 2rem;
        text-align: center;
        font-weight: 700;
}

#more, #less{
        border: none;
        outline: none;
        cursor: pointer;
        transition: .4s;
       
        background: url(../img/p-m-normal.png) center center no-repeat;
      background-size: contain;
      width: 3.8vw;
      height: 9vh;
      margin: 0 0.4vw;
    
}

#more:hover, #less:hover{
    background: url(../img/p-m-hover.png) center center no-repeat;
    background-size: contain;
}
#more:focus, #less:focus, #more:active, #less:active{
    background: url(../img/p-m-click.png) center center no-repeat;
    background-size: contain;
}
#more:disabled, #more:disabled {
    background: url(../img/p-m-disable.png) center center no-repeat;
    background-size: contain;
}
.animacion{
    animation: animacion .1s;
}

.animacion2{
    animation: animacion2 .1s;
}

@keyframes animacion{
    50%{
        transform: scale(1.5);
        
    }
}

@keyframes animacion2{
    50%{
        transform: scale(1.5)
        
    }
}
/* field-coin + title*/
.totalcoin {
    width: 8vw;
    height: 8.6vh;
    background: url(../img/bg_totalcoin.png) center center no-repeat;
    background-size: contain;
    margin-top: 1vh;padding-top: 2vh;
    align-self: center;
}

.good {
    font-family: 'Noto Sans';
    color: #ffe400;
    font-size: 4em;
    font-weight: 700;
    text-transform: uppercase;flex-basis: 31%;
    text-align: center;
}

/*turbo*/
.turbo {
    cursor: pointer;position: relative;
    left: 1.5vw;
  }
  
  input[type="checkbox"] {
    width: 6.2vw;
    height: 5.2vw;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../img/bg_turbooff.png) center center no-repeat;
    background-size: contain;
    outline: none;
    cursor: pointer;
 
    transition: 0.5s;
    position: relative;
  }
  input:checked[type="checkbox"] {
    background: url(../img/bg_turboon.png) center center no-repeat;
    background-size: contain;
  }
  input[type="checkbox"]::before {
    content: '';
    position: absolute;
    width: 5vw;
    height: 6vh;
    bottom: 1vh;
    left: 1vh;
    border: none;
    background: url(../img/turbonormal.png) center center no-repeat;
    background-size: contain;
    transform: scale(1.1);
    transition: 0.5s;
  }
  input[type="checkbox"]:hover::before{
    background: url(../img/turbohover.png) center center no-repeat;
    background-size: contain;
  }
  input[type="checkbox"]:disabled::before{
    background: url(../img/turbodisable.png) center center no-repeat;
    background-size: contain;
  }
  input[type="checkbox"]:focus::before, input[type="checkbox"]:active::before{
    background: url(../img/turboclick.png) center center no-repeat;
    background-size: contain;
  }
  input:checked[type="checkbox"]::before {
    bottom: 3.6vh;
  }
/*auto btn*/
.auto {position: relative; animation: all .3 ease;left: 45px;top: 5px;}
.auto-list {
    display: none;
   
    width: 20vw;
    position: absolute;
    height: 41vh;
    background: url(../img/spinselect_box_bg.png) center center no-repeat;
    background-size: cover;
    top: -395px;
}
.auto-list__item {
    color: #ffd100;
    font-size: 36px;
    line-height: 45px;
    text-transform: uppercase;
    font-weight: 700;
    padding-left: 55px;
  
}
.auto-list__item:hover {
    cursor: pointer;
    color: #7fdb80;
}
.auto-list__item:nth-child(1) {
    padding-left: 4.6vw;
    padding-top: 1.3vw;
}
.auto-list:nth-child(1)::before {
    
    content: url(../img/icon_feature.png);
    position: absolute;
    left: 55px;
    top: 30px;
}
.auto-btn {
    background: url(../img/autonormal.png) center center no-repeat;
    background-size: contain;
    border: none; cursor: pointer;
    width: 15vw;
    height: 9vh;
}
.auto-btn:hover  {
    background: url(../img/autohover.png) center center no-repeat;
    background-size: contain;
}
.auto-btn:disabled  {
    background: url(../img/autodisable.png) center center no-repeat;
    background-size: contain;
}
.auto-btn:focus, .auto-btn:active  {
    background: url(../img/autoclick.png) center center no-repeat;
    background-size: contain;
}

.auto-img {
    max-width: 5vw;
    margin-left: -2vw;
}
.open-autolist {display: block;}

/*spin*/
.spin {
    position: relative;
    width: 13.5vw;
    height: 21.5vh;
    background: url(../img/spin-normal.png) center no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
    right: 4vw;
}
.spin:hover {
    background: url(../img/spin-hover.png) center no-repeat;
    background-size: contain;
}
.spin:disabled {
    background: url(../img/spin-disable.png) center no-repeat;
    background-size: contain;
}
.spin:focus, .spin:active {
    background: url(../img/spin-click.png) center no-repeat;
    background-size: contain;
}
.spin-img {width: 8vw;
    animation: spin 5s infinite linear;
}
@keyframes spin {
    0% {transform:rotate(0);}
    
    25% {transform:rotate(180deg);}
    
    50% {transform:rotate(360deg);}
    75% {transform:rotate(180deg);}
    
    100% {transform:rotate(0);}
}

/*media queries */
@media  (max-width: 1500px) { 
    .good {font-size: 3em;}
    .auto-img {
        max-width: 4vw;
        margin-left: -5vw;
    }
    input[type="checkbox"] {
        width: 6.2vw;
        height: 7.2vw;
    }
    input[type="checkbox"]::before {
        bottom: 2vh;
    }

}

@media  (max-width: 1248px) { 
    .good {font-size: 2em;}
    .auto-img {
        max-width: 4vw;
        margin-left: -7vw;
    }
    input[type="checkbox"] {
        width: 6.7vw;
        height: 7vw;}
    .num {
        font-size: 19px;
        line-height: 1;}
   .totaltxt {
            font-size: 12px;
            line-height: 25px;
   }
   .totalcoin {
    padding-top: 3vh;
}
input[type="checkbox"]::before {
    bottom: 1vh;
    width: 5.2vw;
}

}
@media  (max-width: 991px) { 
    .auto {left: 2vw;}
    input[type="checkbox"] {
        width: 6vw;
        height: 7vw;
    }
    input[type="checkbox"]::before {
        bottom: 0;
        width: 4.5vw;
    }
    .num {font-size: 14px;}

}
@media  (max-width: 930px) { 
    .totaltxt {
        font-size: 8px;
        line-height: 20px;
    }
    .totalcoin {
        padding-top: 4vh;
    }
}
@media  (max-width: 768px) { 
    .good {font-size: 2em;}
    input[type="checkbox"]::before {
        bottom: -0.5vh;
        width: 4.7vw;
        left: 0.6vw;
    }
    .totaltxt {
        line-height: 13px;
    }
    .totalcoin {
        padding-top: 4vh;
    }
    
}
@media  (max-width: 680px) { 
.totalcoin {
        padding-top: 4.7vh;
    }
#more, #less {
        height: 8.5vh;   
    } 
}




