/* noto-sans-regular - latin */
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/noto-sans-v25-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/noto-sans-v25-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* noto-sans-700 - latin */
  @font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/noto-sans-v25-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/noto-sans-v25-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
* {
    margin: 0; padding: 0;
}

.buttons-bar {position: relative;
    display: flex;
    margin-top: 200px;
    background: url(../img/UI.png) center center no-repeat;
    background-size: contain;
    align-items: center;
    justify-content: space-between;
}
/*info*/
body {font-family: 'Noto Sans';height: 100vh;
 background: #6a3505}
.info {
    background: url(../img/info-normal.png) center center no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px; transition: .4s;
}
.ingo-img {
    width: 15px;
}
.info {
    background: url(../img/info-normal.png) center center no-repeat;
    background-size: contain;
    width: 85px;
    height: 85px;
    border: none;
    cursor: pointer;
    margin-left: 89px;
}
.info:hover {
    background: url(../img/info-hover.png) center center no-repeat;
    background-size: contain;
}
.info:focus, .info:active {
    background: url(../img/info-click.png) center center no-repeat;
    background-size: contain;
}


/*less-more*/
.total{
 
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    transform: rotate(0.5deg);
    width: 310px;
    height: 95px;
    background: url(../img/bg_totalbet.png) center no-repeat;
    background-size: contain;
}

#num{
        color: #ffd100;
        font-size: 29px;
        line-height: 1.223;
        text-align: center;
  font-weight: 700;
}
.totaltxt {
    color: #ff6972;
    font-size: 16px;
        line-height: 50px;
        text-align: center;
        font-weight: 700;
}

#more, #less{
        border: none;
        outline: none;
        cursor: pointer;
        transition: .4s;
       
        background: url(../img/p-m-normal.png) center center no-repeat;
      background-size: contain;
      width: 75px;
      height: 95px;
      margin: 0 10px;
    
}

#more:hover, #less:hover{
    background: url(../img/p-m-hover.png) center center no-repeat;
    background-size: contain;
}
#more:focus, #less:focus, #more:active, #less:active{
    background: url(../img/p-m-click.png) center center no-repeat;
    background-size: contain;
}
.animacion{
    animation: animacion .1s;
}

.animacion2{
    animation: animacion2 .1s;
}

@keyframes animacion{
    50%{
        transform: scale(1.5);
        
    }
}

@keyframes animacion2{
    50%{
        transform: scale(1.5)
        
    }
}
/* field-coin + title*/
.totalcoin {
    width: 155px;
    height: 100px;
    background: url(../img/bg_totalcoin.png) center center no-repeat;
    background-size: contain;
    margin-top: 15px;
}

.good {
    font-family: 'Noto Sans';
    color: #ffe400;
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase;flex-basis: 31%;
    text-align: center;
}

/*turbo*/
.turbo {
    cursor: pointer;position: relative;
    left: 25px;
  }
  
  input[type="checkbox"] {
    width: 120px;
    height: 101px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../img/bg_turbooff.png) center center no-repeat;
    background-size: contain;
    outline: none;
    cursor: pointer;
 
    transition: 0.5s;
    position: relative;
  }
  input:checked[type="checkbox"] {
    background: url(../img/bg_turboon.png) center center no-repeat;
    background-size: contain;
  }
  input[type="checkbox"]::before {
    content: '';
    position: absolute;
    width: 99px;
    height: 55px;
    bottom: 10px;
    left: 10px;
    border: none;
    background: url(../img/turbonormal.png) center center no-repeat;
    background-size: contain;
    transform: scale(1.1);
    transition: 0.5s;
  }
  input[type="checkbox"]:hover::before{
    background: url(../img/turbohover.png) center center no-repeat;
    background-size: contain;
  }
  input[type="checkbox"]:focus::before, input[type="checkbox"]:active::before{
    background: url(../img/turboclick.png) center center no-repeat;
    background-size: contain;
  }
  input:checked[type="checkbox"]::before {
    bottom: 40px;
  }
/*auto btn*/
.auto {position: relative; animation: all .3 ease;left: 45px;top: 5px;}
.auto-list {
    display: none;
    width: 388px;
    height: 386px;
    background: url(../img/spinselect_box_bg.png) center center no-repeat;
    background-size: cover;
}
.auto-list__item {
    color: #ffd100;
    font-size: 36px;
    line-height: 45px;
    text-transform: uppercase;
    font-weight: 700;
    padding-left: 55px;
  
}
.auto-list__item:hover {
    cursor: pointer;
    color: #7fdb80;
}
.auto-list__item:nth-child(1) {
    padding-left: 90px;
    padding-top: 25px;
}
.auto-list:nth-child(1)::before {
    
    content: url(../img/icon_feature.png);
    position: absolute;
    left: 55px;
    top: 30px;
}
.auto-btn {
    background: url(../img/autonormal.png) center center no-repeat;
    background-size: contain;
    border: none; cursor: pointer;
    width: 280px;
    height: 80px;
}
.auto-btn:hover  {
    background: url(../img/autohover.png) center center no-repeat;
    background-size: contain;
}
.auto-btn:focus, .auto-btn:active  {
    background: url(../img/autoclick.png) center center no-repeat;
    background-size: contain;
}

.auto-img {
    max-width: 80px;
    margin-left: -55px;
}
.open-autolist {display: block;}

/*spin*/
.spin {
    position: relative;
    width: 250px;
    height: 250px;
    background: url(../img/spin-normal.png) center no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
    right: 82px;
}
.spin:hover {
    background: url(../img/spin-hover.png) center no-repeat;
    background-size: contain;
  
}
.spin:focus, .spin:active {
    background: url(../img/spin-click.png) center no-repeat;
    background-size: contain;
}
.spin-img {width: 190px;
    animation: spin 5s infinite linear;
}
@keyframes spin {
    0% {transform:rotate(0);}
    
    25% {transform:rotate(180deg);}
    
    50% {transform:rotate(360deg);}
    75% {transform:rotate(180deg);}
    
    100% {transform:rotate(0);}
}


